*{
    font-family: "Inknut Antiqua";
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white;
    /* background-color: #FFF9E8; */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #FFF9E8;
}
.logo{
    font-weight: bold;
    font-size: 14px;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #CB6040;
}
.login-btn{
    background-color: #CB6040;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
}
.hero{
    text-align: center;
    padding: 100px 30px;
    background-color: #FFF9E8;
}
.hero h1{
    color: #0D6172;
    font-size: 80px;
    margin-bottom: 30px;
}
.hero p{
    max-width: 600px;
    margin: 0 auto 30px;
    font-size: 20px;
    color: #CB6040;
}
.hero-buttons{
    margin-top: 20px;
}
.hero-buttons button{
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.cek-btn{
    background-color: #CB6040;
    color: white;
}
.reservasi-btn{
    background-color: #CB6040;
    color: white;
}
.section-title{
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
    color:#CB6040;
}
.facilities-section{
    text-align: center;
    padding: 50px 20px;
    color:#CB6040;
    background-color: #FFF9E8;
}
.facilities-section h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #CB6040;
}
.facility-container{
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}
.facility-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
}
.facility-item i{
    font-size: 48px;
    margin-bottom: 15px;
    color: #CB6040;
}
.facility-icon{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
.facility-item p{
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    color: #CB6040;
}
.facility-item p strong{
    display: block;
    color: #CB6040;
}
.space-section{
    text-align: center;
    padding: 40px 20px;
    background-color: #FFF9E8;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}
.space-section h2{
    color:#0D6172;
    font-size: 60px;
}
.space-section p{
    max-width: 600px;
    margin: auto;
    color:#0D6172;
}
.space-card{
    padding: 40px 60px;
    background-color: #FFF9E8;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
}
.space-card:hover{
    transform: translateY(-5px);
}
.space-card img{
    width: 100%;
    height:auto;
}
.card-content{
    padding: 15px;
}
.card-content h3{
    margin: 0;
    font-size: 20px;
    color: #0D6172;
}
.card-content p{
    font-size: 15px;
    color: #0D6172;
    margin: 8px 0;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
}
.card-footer span{
    color:#0D6172
}
.arrow-btn {
    background-color: #f3915d;
    color: #FFF9E8;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.faq{
    height: 627px;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF9E8;
}
.faq__title{
    color: #CB6040;
    font-size: 40px;
}
.faq__list{
    width: 70%;
    list-style: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    color:#FFF9E8;
    padding-bottom: 0%;
}
.faq__question{
    font-size: 25px;
    color:#CB6040
}
.faq__answer{
    font-size: 25px;
    color:#0D6172
}
.cta-section{
    padding: 50px 60px;
    background-color: #FFF9E8;
}
.cta-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.cta-image img{
    max-width: 100%;
    border-radius: 10px;
}
.cta-text{
    flex: 1;
    max-width: 500px;
}
.cta-text h4{
    color:#0D6172;
    font-size: 40px;
}
.cta-text h2{
    color:#CB6040;
    font-size: 40px;
    margin: 10px 0;
}
.cta-text p{
    font-size: 20px;
    color: #CB6040;
}
.cta-schedule {
    margin-top: 10px;
    font-size: 14px;
}
.cta-btn {
    margin-top: 15px;
    background-color: #db5930;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.cta-btn:hover{
    transform: translateY(-5px);
}
.footer {
    background-color: #CB6040;
    color: #FFEEDB;
    padding: 40px 60px 20px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.footer__column {
    flex: 1;
}

.footer__column h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.footer__column p {
    margin: 5px 0;
    font-size: 15px;
}

.footer__bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    color: #FFEEDB;
}

