<style>
    footer{
        background-color: #CB6040;
        color: #FFF9E8;
    }
    .company-logo{
            width: 48px;
            height: 48px;
    }
</style>


<footer class="py-4">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-3">
                <img src="assets/studyhublogo.png" alt="LOGO" class="company-logo">
            </div>
        

            <div class="col-md-3">
                <h5>Our Space</h5>
                <ul class="list-unstyled">
                    <li>Individual Desk</li>
                    <li>Group Desk</li>
                    <li>Ruang Kreatif</li>
                    <li>Ruang Meeting</li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>Open Hours</h5>
                <p>Senin - Minggu</p>
                <p>07.00 - 00.00</p>
            </div>

            <div class="col-md-3">
                <h5>Kontak</h5>
                <p>Jl. Inovasi Raya No. 17, Sleman, DIY</p>
            </div>

            <div class="text-center border-top pt-3">
                <small>2025 StudyHub Coworking Space. All Rights Reserved.</small>
            </div>
        </div>
    </div>
</footer>